@font-face {
    font-family: "TTLakes";
    src: url("../fonts/TTLakes/TTLakes-Black.eot");
    src: local("../fonts/TTLakes/TT Lakes Italic"), local("../fonts/TTLakes/TTLakes-Italic"),
        url("../fonts/TTLakes/TTLakes-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/TTLakes/TTLakes-Italic.woff") format("woff"),
        url("../fonts/TTLakes/TTLakes-Italic.ttf") format("../fonts/TTLakes/truetype");
    font-weight: normal;
    font-style: italic;
}
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");

header {
    min-width: 320px;
    background-color: white;
    border: 1px solid black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}
.conteiner {
    min-width: 320px;
}
@media (min-width: 350px) {
    .text {
        width: 47%;
    }
    .page img {
        width: 100%;
    }
}
@media (min-width: 750px) {
    .page img {
        width: 370px;
    }
}
@media (min-width: 750px) {
    .text {
        width: 310px;
        min-height: 160px;
    }
}
@media (min-width: 1100px) {
    .page img {
        width: 530px;
    }
}
@media (min-width: 1100px) {
    .text {
        width: 490px;
        min-height: 170px;
    }
}

main {
    border: 1px solid black;
    min-width: 320px;
    height: 510px;
    box-sizing: border-box;
    .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .title {
        font-family: "TTLakes";
        font-size: 14px;
        line-height: 40px;
        letter-spacing: -0.6px;
        color: #1b1c21;
    }
    nav {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        text-decoration: none;

        a {
            display: inline-block;
            text-decoration: none;
            font-family: "TTLakes";
            font-size: 16px;
            line-height: 24px;
            margin: 0 20px;
            letter-spacing: -0.2px;

            color: #7e7e82;
        }
        a:hover {
            background: #ffffff;
            border: 2px solid #b8ffec;
            box-sizing: border-box;
            border-radius: 6px;
        }
    }
    .text {
        max-height: 90px;
        max-width: 90%;
        border: 2px solid black;
        margin-top: 20px;
        padding: 0%;
        overflow: hidden;
        p {
            font-family: "TTLakes";
            font-size: 14px;
            line-height: 20px;
            /* or 143% */

            letter-spacing: 0.2px;

            color: #1b1c21;
        }
    }
    .page img {
        max-width: 100%;
        margin-top: 20px;
        border-radius: 20px;
    }
    .more {
        position: relative;
        width: 200px;
        height: 40px;
    }
    //.more::before {
    //    content: url("");
    //    position: absolute;
    //    height: 40px;
    //    width: 40px;
    //    left: 80px;
    //}
}
